*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

#HappyHub{
    text-align: center;
    height: 150px;
    padding-top: 100px;
    font-size: 35px;
}
#HappyHub1{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}
#HappyHub2{
    font-size: 20px;
    font-weight: 500;
}
#HappyHub3{
    font-size: 20px;
    font-weight: 500;
}